body {
    background-color: #121920;
    color: #e4cfcf;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
}

header, footer {
    text-align: center;
}

#lists {
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tasks-list {
    border: 1px solid yellow;
    min-height: 600px;
    width: 500px;
}

h2 {
    text-align: center;
}

.tasks {
    width: 100%;
    height: 100%;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid black;
    border-bottom: 0px;
}

li:last-child {
    border-bottom: 1px solid black;
}

.check-box {
    width: 20px;
    position: relative;
    float: left;
}

.check-box label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: #eee;
}

.check-box label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.check-box label:hover::after {
    opacity: 0.5;
}

.check-box input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.task-text {
    float: left;
    margin-left: 10px;
    max-width: 450px;
    font-size: 25px;
}

.edit-delete-date-hour {
    clear: both;
    font-size: 13px;
    padding: 4px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.edit:hover,
.delete:hover {
    cursor: pointer;
}

.edit::after {
    content: '';
    margin-right: 3px;
}

.delete::after {
    content: "\00a0\00a0|";
}

.date-hour {
    font-size: 11px;
}

.date-hour::before {
    content: "\00a0";
}

#add-task {
    width: 500px;
    height: 35px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    border: 1px dotted #123456;
}

input[type="text"], textarea {
    width: 430px;
    background: #121920;
    border: 1px solid #293847;
    color: #e4cfcf;
    box-sizing: border-box;
    padding: 1px 10px;
    font-size: 20px;
}

input[type="text"]:focus,
textarea:focus {
    color: #f5e6e6;
    outline: none!important;
    border: 1px solid #506c86;
}

#add-task-input,
#add-task-text {
    float: left;
}

#add-task-text{
    text-align: center;
    font-size: 22px;
    width: 70px;
    border: 1px solid #293847;
    box-sizing: border-box;
    height: 33px;
    line-height: 33px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#add-task-text:hover {
    cursor: pointer;
    background: #222e3a;
}




footer {
    padding-top: 20px;
    font-size: 15px;
}